.conteiner
  = render "side_bar"  
  .conteiner__content
        %h2.conteiner__content__head
          支払い方法
        .conteiner__content__chapter
          .conteiner__content__chapter__inner
            %section
              .conteiner__content__chapter__inner__single
                %h3.conteiner__content__chapter__inner__single__head
                  クレジットカード一覧
              %ul.conteiner__content__chapter__inner__single__payment-list
            %section.conteiner__content__chapter__inner__credit
              %button.conteiner__content__chapter__inner__credit__button
                = link_to do
                  クレジットカードを追加する
            .conteiner__content__chapter__inner__settings
              %span
                支払い方法について  ＞
