.conteiner {
  padding-top: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  line-height: 1;

  .content {
    float: right;
    width: 700px;


    section.chapter-container {
      margin: 0;
      background: #fff;

      h2.head {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 1.4;
      }

      .add-card {
        &__number-details {
          display: flex;
        
          &__card-number {
          } 
        }

      form {
        padding: 40px 40px 64px;
        border-top: 1px solid #f5f5f5;

        input.overall {
          border: 0;
          outline: 0;
          font-family: inherit;
          -webkit-appearance: none;
          touch-action: manipulation;
          color: inherit;
          font-style: inherit;
          font-weight: inherit;
          background-color: transparent;
          }

          &__must-check {
            background: red;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
        }

        &__number {

          &__cardnumber {
            width: 100%;
            margin-top: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
          }
        }

        &__expirationdate {
          margin: 24px 0 0;

          &__details {
            display: flex;

            &__date{
            }

            span.form-require {
              background: #ea352d;

            &__must-check{
              background: red;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }

          &__choice {
            display: flex;
            width: 100%;

            &__month {
              display: flex;
              width: calc(50% - 2px);
              margin-top: 8px;

              select.card-default {
                height: 48px;
                padding: 0 16px;
                border: 1px solid #ccc;
                background: #fff;
                width: calc(100% - 38px);
                }

                .month-details {
                  margin: auto;
                }  
              }
            }

            &__year {
              display: flex;
              width: calc(50% - 2px);
              margin-top: 8px;

              select.card-default {
                height: 48px;
                padding: 0 16px;
                border: 1px solid #ccc;
                background: #fff;
                width: calc(100% - 38px);
              }

              .year-details {
                margin: auto;
              }  
            }
          }
        }

        &__securitycode {
          margin-top: 8px;
          &__details{
            display: flex;

            input.card-num {
              border-color: #ea352d;

            &__fitle {
            }

            span.must_check {
              background: red;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top; 
            }
          }

          &__cardsecurity {

            &__form {
              width: 100%;
              margin-top: 8px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
            }
          }

          &__card-question {
            margin-top: 8px;
            text-align: right;
            color: #0099e8;
          }
        }
        .add{
          &__btn{
            margin-top: 32px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            width: 100%;
            line-height: 48px;
            font-size: 14px;

          }
        }
      }

      .image{
        margin-top: 8px;
      }

      form {
        margin: auto;
        max-width: 342px;
        padding: 40px 40px 64px;
        border-top: 1px solid #f5f5f5;

        .expiration-date {
          width: 343px;
          margin-top: 32px;
          margin: 0 auto;

          label {
            font-weight: 600;
            display: inline-block;
            touch-action: manipulation;
          }

          span.form-require {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }

          &__month {
            display: inline-block;
            width: calc(50% - 2px);
            margin: 8px 0 0;
            position: relative;
            background: #fff;

            select {
              width: calc(100% - 38px);
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              outline: 0;
              -webkit-appearrance: none;
              touch-action: manipulation;
              color: inherit;
              font-family: inherit;
              font-style: inherit;
              font-weight: inherit;
              }
            }

            i.icon-arrow-botton {
              font-size: 10px;
              margin: 0 6px 0 -2px;
              position: relative;
              top: 3px;
              pointer-events: none;
              right: 16px;
              z-index: 2;
              color: #888;
              transform: translate(0, -50%);
              display: inline-block;
              font-family: 'icon-font';
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }
          }

          &__year {
            display: inline-block;
            width: calc(50% - 10px);
            margin: 8px 0 0;
            position: relative;
            background: #fff;

            select {
              width: calc(100% - 38px);
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              outline: 0;
              -webkit-appearance: none;
              touch-action: manipulation;
              color: inherit;
              font-family: inherit;
              font-style: inherit;
              font-weight: inherit;
            }

            i.icon-arrow-bottom {
              font-size: 10px;
              margin: 0 6px 0 -15px;
              position: relative;
              top: 3px;
              pointer-events: none;
              right: 16px;
              z-index: 2;
              color: #888;
              transform: translate(0, -50%);
              display: inline-block;
              font-family: 'icon-font';
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-emphasis: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
            }
          }

          ul {
            color: #ea352d;
            line-height: 1.5;
            font-size: 14px;
            list-style: none;
            display: block;
            margin-block-start: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
          }

          ul {
            color: #ea352d;
            line-height: 1.5;
            font-size: 14px;
            list-style: none;
            display: block;
            margin-block-start: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
          }
        }

        .security-form {
          width: 343px;
          margin-top: 32px;
          margin: 0 auto;

          label {
            font-weight: 600;
            display: inline-block;
            touch-action: manipulation;
          }

          span.form-require {
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }

          input.security-code {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
            touch-action: manipulation;
            color: inherit;
            font-style: inherit;
            font-weight: inherit;
          }

          ul {
            color: #ea352d;
            line-height: 1.5;
            font-size: 14px;
            list-style: none;
            display: block;
            margin-block-start: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;

            li {
              margin: 8px 0 0;
              display: list-item;
            }
          }

          &__question {
            position: relative;
            margin: 8px 0 0;

            &__text {
              text-align: right;
              color: #0099e8;
              font-size: 12px;
              margin-bottom: 10px;

              span.form-question {
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #0099e8;
                color: #fff;
                line-height: 14px;
                font-size: 12px;
                text-align: center;
              }
            }

            &__info {
              position: absolute;
              left: 0;
              right: 0;
              top: 28px;
              z-index: 1;
              padding: 16px;
              border-radius: 6px;
              background: #eee;
              counter-reset: #333;
              line-height: 1.5;
              text-align: center;
              transition: all ease-in-out .3s;
              visibility: hidden;
              opacity: 0;
            }
          }

          input {
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
            touch-action: manipulation;
            color: inherit;
            font-style: inherit;
            font-weight: inherit;
            background-color: transparent;
          }

          input {
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
            touch-action: manipulation;
            color: inherit;
            font-style: inherit;
            font-weight: inherit;
            background-color: transparent;
          }

          p {
            margin: 8px 0 0;
            line-height: 1.5;
            color: #ea352d;
          }

          input {
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
            touch-action: manipulation;
            color: inherit;
            font-style: inherit;
            font-weight: inherit;
            background-color: transparent;
          }

          button {
            width: 343px;
            margin: 24px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            min-height: 1.5em;
            outline: 0;
            touch-action: manipulation;
            font-family: inherit;
            font-style: inherit;
            font-weight: inherit;
            overflow: visible;
          }
        }
      }
    }
  }
}
