* {
  box-sizing: border-box;
}
@mixin edit {
  background-color: #FF0211;
  color: #FFFFFF;
}
.required {
  @include edit;
}
@mixin p-edit {
  color: #FF0211;
  margin-bottom: 15px;
}
.choice {
  @include p-edit;
}

@mixin labels-edit {
  font-weight: 600;
  color: black;
}

.label-edit {
  @include labels-edit;
}

.title {
  width: 100%;
  height: 128px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}
.content {
  background-color: rgb(245, 245, 245);
  .content-main {
    width: 700px;
    height: 2500px;
    background-color: #FFFFFF;
    margin: 0 auto;
    .image-product {
      padding: 40px;
      font-size: 14px; 
      border-bottom: solid 1px rgba(245, 245, 245, 0.479);
      p {
        margin-top: 16px;
      }
      .name__image {
        width: 620px;
        height: 150px;
        background-color: #F5F5F5;
        margin:10px 0;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px dotted rgba(128, 128, 128, 0.562);
        &__set {
          margin-top: 30px;
          .camera {
            color: black;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .image__message {
        margin-top: 24px;
        font-size: 14px;
        color: #FF0211;
      }
    }
    .item-explain {
      border-bottom: solid 1px rgba(245, 245, 245, 0.479);
      padding: 40px;
      font-size: 14px;
      &__text {
      margin: 10px 0;
        input {
          width: 620px;
          height: 48px;
          padding: 0 56px 0 16px;
        }
      p {
        margin: 20px 0;
        color: #FF0211;
      }
      &__textarea {
        margin: 10px 0;
        textarea {
          width: 620px;
          height: 154px;
          padding: 13px 16px;
        }
        p {
          margin-top: 24px;
          font-size: 14px;
          color: #FF0211;
        }
      }
    }
  }
    .item-show {
      border-bottom: solid 1px rgba(245, 245, 245, 0.479);
      padding: 40px 0;
      font-size: 14px;
      p {
        margin-bottom: 30px;
        color: #888888;
        font-weight: 600;
      }
      &__category {
        margin-bottom: 15px;
        select {
          width: 620px;
          height: 48px;
          -webkit-appearance: none;
          padding: 0 56px 0 16px;
        }
        &__any {
          color: #888888;
        }
        input {
          width: 620px;
          height: 48px;
          padding: 0 56px 0 16px;
        }
      }

      &__list {
        margin-bottom: 15px;
        padding-left: 40px;
        select {
          width: 620px;
          height: 48px;
          -webkit-appearance: none;
          padding: 0 56px 0 16px;
        }
        &__any {
          color: #888888;
        }
        input {
          width: 620px;
          height: 48px;
          padding: 0 56px 0 16px;
        }
      }
    }
    .delivery {
      border-bottom: solid 1px rgba(245, 245, 245, 0.479);
      padding: 40px;
      font-size: 14px;
      p {
        margin-bottom: 30px;
        color: #888888;
        font-weight: 600;
      }
      &__list {
        margin-bottom: 15px;
        select {
          width: 620px;
          height: 48px;
          -webkit-appearance: none;
          padding: 0 56px 0 16px;
        }
        &__prefecture {
          #prefecture_id {
            width: 620px;
            height: 48px;
            -webkit-appearance: none;
            padding: 0 56px 0 16px;
          }
        }
    }
  }
    .item-price {
      border-bottom: solid 1px rgba(245, 245, 245, 0.479);
      padding: 40px;
      p {
        margin-bottom: 24px;
        font-size: 14px;
      }
      &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .item-price__status {
        }
        .item-price__bye {
          .product-price {
            width: 285px;
            height: 48px;
            text-align: right;
          }
        }
      }
      .form-error { 
        color: #FF0211;
        font-size: 14px;
        padding: 12px 0;
        text-align: right;
      }
    }
    .size-area {
      padding-left: 40px;
      .fee {
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: solid 1px rgba(245, 245, 245, 0.479);
        &__price {
          font-size: 14px;
        }
      }
      .profit {
        justify-content: space-between;
        padding: 12px 0;
        &__price {
          font-size: 14px;
        }
      }
    }
    .exhibilion {
      padding: 40px;
      text-align: center;
      &__button {
        .exhibilionbutton {
        width: 360px;
        height: 48px;
        margin-bottom: 20px;
        font-size: 17px;
        background-color: #ea352d;
        color: #fff;
        font-weight: 600;
      }
        .exhibilion__save {
          width: 360px;
          height: 48px;
          font-size: 17px;
          background-color: #ccc;
          color: #222;
          margin-bottom: 24px;
          font-weight: 600;
        }
      }
      .top__return {
        color: #0095ee;
        font-size: 14px;
      }
    
    }
      .warning {
        font-size: 12px;
        margin-top: 30px;
        
      }
  }
}
.product__footer {
  width: 100%;
  height: 220px;
  background-color: rgb(245, 245, 245);
  padding: 40px 0;
  &__link {
    text-align: center;
    font-size: 12px;
    a {
      text-decoration: none;
      padding-right: 10px;
      color: #333333;
    }
  }
  &__logo {
    text-align: center;
    margin-top: 20px;
  }
  .logo__tag {
    font-size: 12px;
    text-align: center;
  }
}