.main__one {
  height: 560px;
  background-image: image-url("bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  color: white;

    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }

      .content__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }

      .content__btn {
        display: flex;
        margin: 24px 0 0 0;

        a {
          margin-right: 10px;
        }
      }
    }
}


.main__two {
  height: 560px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  &__title {
    font-size: 30px;
  }

  .photo__series {
    display: flex;
    justify-content: center;

    .photo__one {
      margin: 20px;
    }

    .photo__two {
      margin: 20px;
    }

    .photo__three {
      margin: 20px;
    }
  }
}

.main__three {
  height: 400px;
  background-image: image-url("bg-topMiddleDl-pict.jpg");
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  
  &__content {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    &__subtitle {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }

    .content__text {
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }

    .content__btn {
      display: flex;
      margin: 24px 0 0 0;

      a {
        margin-right: 10px;
      }
    }
  }
}

.main__four {
  margin-top: 100px;
  height: 560px;
  width: 100%;
  text-align: center;

   &__title {
     font-size: 30px;

   }

  .photo__series__secound {
    display: flex;
    justify-content: center;

    .photo__four {
      margin: 20px;
    }

    .photo__five {
      margin: 20px;
    }

    .photo__six {
      margin: 20px;
    }
  }
  



}

.main__five {
  background-color: rgb(236, 234, 234);
  padding-top: 30px;

  &__one {
    margin: 80px 0 0;
    background-color: rgb(236, 234, 234);
    height: 100%;

    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }

    
      .product__head {
        text-align: center;

        a {
          text-decoration: none;
          color: rgb(24, 177, 197);
          font-size: 20px;
        }

      }

      .product__lists {
        margin: 26px;

        .product__list {
          display: flex;
          justify-content: center;
        }
        
        a {
          text-decoration: none;
        }

        .product__list__body {
          background-color: rgb(255, 255, 255);
          color: #333;
          padding: 16px;
          margin-left: 40px;
          margin-right: 40px;
          
        }
      }
  }
    
  

  &__two {
    margin: 80px 0 0;
    background-color: rgb(236, 234, 234);
    height: 100%;
    padding-bottom: 30px;

    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }

      .product__head {
        text-align: center;

        a {
          text-decoration: none;
          color: rgb(24, 177, 197);
          font-size: 20px;
        }
      }

      .product__lists {
        margin: 26px;

        .product__list {
          display: flex;
          justify-content: center;
        }

        a {
          text-decoration: none;
        }

        .product__list__body {
          background-color: rgb(255, 255, 255);
          color: #333;
          padding: 16px;
          margin-left: 40px;
          margin-right: 40px;
        }
        
      
    }
  }
}
