a {
  color: #0099e8;
  text-decoration: none;
}

ul {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

.bold {
  font-weight: 600;
}

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  
  .header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {

      &__link {
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
    }
  }

  .main {
    display: block;

    .buy {
      width: 700px;
      margin: 0 auto;
      background-color: #fff;

      &__head {
        font-size: 22px;
        padding: 32px;
        text-align: center;
      }

      &__item {
        padding-bottom: 48px;

        &__content {
          max-width: 343px;
          margin: 0 auto;

          &__box {
            display: flex;

            &__image {
              height: 80px;
              width: 80px;
              min-width: 80px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;

              .is-higher-height {
                width: auto;
                max-height: 80px;
              }
            }

            &__detail {
              margin-left: 16px;

              &__name {
                font-size: 14px;
                margin: 0;
                padding: 0 0 8px;
                line-height: 1.5;
                text-align: left;
              }

              &__price {
                margin: 0;
                text-align: left;
                font-size: 15px;

                .shipping-fee {
                  font-size: 12px;
                }
              }
            }
          }

          &__price {
            display: table;
            border-collapse: collapse;
            width: 100%;

            &__row {
              display: table-row;
              border: 0;

              &--left {
                display: table-cell;
                padding: 0;
                text-align: left;
                
              }

              &--label {
                font-size: 18px;
              }

              &--right {
                display: table-cell;
                padding: 0;
                text-align: right;
                font-size: 18px;
              }
            }
          }

          &__according {
            margin: 24px 0 32px;

            &__parent {

              .checkbox-default {
                position: relative;

                .label {
                  display: inline-block;
                }
              }
            }
          }

          &__method {
            transition: all ease-out .3s;
            text-align: left;
            padding: 24px 0;
            margin: 0;


            &__inner {
              max-width: 343px;
              margin: 0 auto;

              .buy-user-info h3 {
                margin: 0;
                font-size: 14px;
              }

              .pay-method {
                color: #0099e8;
                text-decoration: none;

                .buy-user-info-text {
                  text-align: left;
                  margin: 8px 0 0;
                  font-size: 14px;
                  line-height: 1.4;

                  .buy-register-text {
                    margin: 0 0 0 4px;
                  }
                }
              }
            }
          }

          .btn-default {
            border: 1px solid #888;
            background: #888;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }

          .user_info_is_not_complete {
            border: 0;
            outline: 0;
            font-family: inherit;
            -webkit-appearance: none;
          }
        }
      }
    }
  }

  .footer {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;

    &__content {
      display: block;

      &__box {
        content: '';
        display: block;
        clear: both;
        display: flex;
        margin: 0 auto;
        width: 500px;
        justify-content: space-around;

        &__element {
          display: block;
          color: #333;
        }
      }
    }
  }

}